<!DOCTYPE html>
<html>

<head>
  <title>Biography</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Biography</h1>
  <p><%= name %>&apos;s Biography</p>
  <p>
  <table>
    <tbody>
      <tr>
        <td><strong>Bachelors</strong></td>
        <td>Computer Science, Millersville University of Pennsylvania, Expected 2022.</td>
      </tr>
      <tr>
        <td><strong>Skills</strong></td>
        <td>Software Development, Web Development, Full-Stack Development, Communication, Leadership, Javascript,
          Typescript, Node, Express, ReactJS, VueJS, AWS, Python, Flask, FastAPI, Java, C, C++, SQL, Swift, SwitUI</td>
      </tr>
      <tr>
        <td><strong>Internships</strong></td>
        <td>Cornerstone OnDemand, Summer 2019.</td>
      </tr>
    </tbody>
  </table>
  </p>
</body>

</html>