<!DOCTYPE html>
<html>
  <head>
    <title><%= name %> Blog Site</title>
    <link rel="stylesheet" href="/stylesheets/bulma/bulma.css" />
  </head>

  <body>
    <% include partials/navbar %>
    <div class="section">
      <div class="container">
        <h1 class="title is-1"><%= name %> Blog Site</h1>
        <p class="subtitle is-3">Welcome to my blog!</p>
      </div>
    </div>
  </body>
</html>
