<!DOCTYPE html>
<html>
  <head>
    <title>Blog Add</title>
    <link rel="stylesheet" href="/stylesheets/bulma/bulma.css" />
  </head>

  <body>
    <% include ../partials/navbar %>
    <div class="section">
      <div class="container">
        <h1 class="title is-1">Blog Add</h1>
        <p class="subtitle is-3">Write a blog!</p>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <%- include('../partials/form', {blog: null}) %>
      </div>
    </div>
  </body>
</html>
