<div class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div ng-repeat="blog in blogs" class="column">
        <div class="card">
          <a ng-href="/blogs/{{blog._id}}">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img ng-src="{{blog.author.avatar}}" alt="Profile avatar" />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{blog.author.name}}</p>
                  <p class="subtitle is-6">{{blog.author.handle}}</p>
                </div>
              </div>

              <h3 class="title is-3">{{blog.title}}</h3>
              <div class="content">
                <p>{{blog.content.substring(0, 125)}}...</p>

                <p>
                  <a ng-repeat="tag in blog.tags" href="#">#{{tag}}</a>
                </p>

                <p>
                  <b>Created</b>
                  <time>{{blog.createdOn}}</time>

                  <br ng-if="blog.createdOn !== blog.lastEditedOn" />
                  <b ng-if="blog.createdOn !== blog.lastEditedOn">Edited</b>
                  <time ng-if="blog.createdOn !== blog.lastEditedOn"
                    >{{blog.lastEditedOn}}</time
                  >
                </p>
              </div>
            </div>

            <footer class="card-footer">
              <a ng-href="/blogs/{{blog._id}}/edit" class="card-footer-item"
                >Edit</a
              >
              <a ng-href="/blogs/{{blog._id}}/delete" class="card-footer-item"
                >Delete</a
              >
            </footer>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
