<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title">Ryan Malesic</h1>
    </a>

    <a
      role="button"
      ng-click="toggleNavbarActive()()"
      ng-class="navbarActive ? 'navbar-burger burger is-active' : 'navbar-burger burger'"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    ng-class="navbarActive ? 'navbar-menu is-active' : 'navbar-menu'"
  >
    <div class="navbar-start">
      <a class="navbar-item" href="/"> My Blog </a>
      <a class="navbar-item" href="/blogs"> List Blogs </a>
      <a class="navbar-item" href="/blogs/add"> Add Blog </a>
    </div>
  </div>
</nav>
